body {
    font-family: Arial;
    margin: 10px;
}
#user-container {
    background-color: rgb(219, 241, 249);
    margin-bottom: 10px;
}
div {
    border: 1px solid #110101;
    padding: 10px;
    
    border-width: 5px;
}
h3 {
    margin: 10;
}
